<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <title>{% block title %}{% endblock %}</title>
  <style>
    caption {
      caption-side: top;
    }   ​
  </style>
</head>

<body>

  {% include "navbar.html" %}

  <div class="container mt-3 mb-3">
    <hr>
    <div class="row">
      <div class="col-2"></div>
      <div class="col">
        {% block content %}
        {% endblock %}
      </div>
      <div class="col-2"></div>
    </div>
    <hr>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
  <script>
    var t = document.getElementsByTagName("table");
    for (var i = 0; i < t.length; i++)
      t[i].setAttribute("class", "table table-striped");
  </script>
</body>

</html>