{% extends "base.html" %}
{% block content %}
<br><br>
Funcionalidad mínima a ser entregada
<br><br>
<ul>
    <li class="text-success">ABML de usuarios (solo administrador)</li>
    <li class="text-success">ABML de tipos de ítems (solo administrador)</li>
    <li class="text-success">ABML de proyectos</li>
    <li class="text-success">ABML de ítems</li>
    <li class="text-success">Creación y modificación de workflows</li>
    <li class="text-success">Asignación de usuarios a un proyecto</li>
    <li class="text-success">Asignación de roles a los usuarios de un proyecto</li>
    <li class="text-success">Listado de proyectos del usuario, agrupados por el rol que desempeña en cada uno</li>
    <li class="text-success">Listado de los usuarios pertenecientes a un proyecto y sus roles</li>
    <li class="text-success">Listado de todos los ítems de un proyecto</li>
    <li class="text-success">Listado de todos los estados del ítem de un proyecto, ordenados en forma cronológica</li>
    <li class="text-success">Visualización de todos los datos del estado de un ítem</li>
    <li class="text-warning">Asignación de nuevos estados según los estados del workflow por parte del responsable del ítem en el estado actual.</li>
    <li class="text-warning">Asignación de nuevos responsables del ítem</li>
</ul>
{% endblock %}