{% extends "base.html" %}

{% block title %}
{{ estados.first.item.tipo.nombre }}
{% endblock %}

{% block content %}
<a href="{% url "editar-item" pk=estados.first.item.id %}">
    <button type="button" class="btn btn-success">Editar</button>
</a>
<a href="{% url "borrar-item" pk=estados.first.item.id %}">
    <button type="button" class="btn btn-danger">Eliminar</button>
</a>
{% if user.usuario.id == estados.last.responsablesestado_set.last.usuario.id %}
    <a href="{% url "crear-estado" %}">
        <button type="button" class="btn btn-success">Crear nuevo estado</button>
    </a>
{% endif %}
<table>
    <caption>
        Item "{{ estados.first.item}}"
    </caption>
    <tr>
        <th>Estado</th>
        <th>Responsables</th>
        <th>Fecha</th>
    </tr>
    <tr>
        {% for e in estados %}
        <tr>
            {% if user.usuario.id == estados.last.responsablesestado_set.last.usuario.id %}
                <td><a href="{% url "editar-estado" pk=e.id %}">{{ e }}</a></td>
            {% else %}
                <td>{{ e }}</td>
            {% endif %}
            <td>
            {% for r in e.responsablesestado_set.all%}
               <a href="{% url "editar-responsable" pk=r.id %}">{{ r.usuario }}</a>
               <br>
            {% endfor %}
            {% if forloop.last %}
                <a href="{% url "crear-responsable" %}">
                    <button type="button" class="btn btn-success btn-sm">Nuevo responsable</button>
                </a>
            {% endif %}
            </td>  
            <td>
            {% for r in e.responsablesestado_set.all%}
               {{ r.fecha }}
               <br>
            {% endfor %}
            </td>        
        </tr>
        {% endfor %}
    </tr>
</table>
{% endblock %}